@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'colors.scss';

$font-stack: 'Arvo', sans-serif;

* {
    box-sizing: border-box;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
	scroll-behavior: smooth;
}
body,
html {
	min-width: 280px;
    margin: 0;
    padding: 0;
	background-color: $main-white;
	font: 100% $font-stack;
    color: $main-black;
    
}
body{
    overflow-x: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p, h1{
    margin: 0;
}
.wrapper{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
nav{
    background-color: $main-yellow;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    z-index: 999;
    position: fixed;
    top: 0;
}
.page-header{
    
    padding: 0.5em;
    font-size: 2.5em;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-shadow: 4px 4px 3px $active;
}
.page-header:hover{
    text-shadow: 5px 5px 5px #b97e10d5;
}

.error-message{
    position: absolute;
    top: 45%;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .page-header{
        font-size: 2em;
    }
}