@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #000;
$secondary-color: #ffc123;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 100% $font-stack;
}

body{
    background-color: rgb(250, 250, 250);
}
.navbar{
    background-color: rgb(32, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page-header{
    font-size: 2.5em;
    margin: 0.5em;
}
.search-container{
    margin: 2em;
}
.pagination-list{
    display: flex;
    list-style: none;
    margin-top: 25px;
}
.items-container{
    align-items: center;
    justify-content: center;
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
    width: 80%;
    list-style: none;
}
.item-container{
    text-decoration: none;
    height: 100%;
}
.item-name{
    font-weight: 700;
    font-size: 1.5em;
}
.item-description{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
img{
    width: auto;
    height: 300px;
}