@import 'colors.scss';

.loaderContainer{
    position: absolute;
    top: 40%;
    text-align: center;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

}

